gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fa69f0044146424295b84e097ea9c140
dedicatedServer-port=7777
dedicatedServer-framerate=30
dedicatedServer-logpath=logs
dedicatedServer-queryport=20000
dedicatedServer-querytype=SQP
dedicatedServer-argument-error-policy=1
